<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.91)" size="default" color="#fff" type="ball-fussion"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<app-notifier></app-notifier>
<div class="login-form full-height">
  <div class="inner-login-form">
    <div class="logo-main-login"><img src="assets/images/foresee-logo.png" class="image-100" /></div>
    <div class="forgot-password-instruction  m-0"><b>Forgot Password</b></div><br>
    <div class="forgot-password-instruction">PLEASE CONTACT TO ADMINISTRATOR TO RESET YOUR PASSWORD.</div>
    <div class="login-fields">
      <a [routerLink]="['/']" class="float-right mt-3 mr-3">Login</a>

      <!-- <form name="forgotForm" #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm)">
        <div class="form-group margin-bottom-25">
          <input type="text" class="form-control custom-login-input" placeholder="Email" [(ngModel)]="user.email"
            name="Email" #Email="ngModel" />
          <div *ngIf="Email.invalid &&(Email.dirty || Email.touched || forgotForm.submitted)" class="mb-4 text-danger">
            <span [hidden]="!Email.errors.required">Enter Email</span>
          </div>
        </div>
        <div>
          <button type="submit" class="btn-sign-in common-btn">Submit<img
              src="assets/images/sign-in-arrow.svg" /></button>
        </div>
      </form> -->
    </div>
    <br><br><br>
    <div class="login-footer pt-5">
      <div class="label-footer">FOR MORE INFORMATION ABOUT THE PRODUCT, GO TO</div>
      <div><a href="#">www.4cteam.com</a></div>
    </div>
  </div>
</div>
