<div id="last-updated-user-data" class="box-loaded-data box-modal-common" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="box-header">
    <div class="row">
      <div class="col-xl-10 col-lg-10">
        <div class="title-import text-left">
          Last Loaded
        </div>
      </div>
      <div class="col-xl-2 col-lg-2">
        <div class="text-right">
          <button type="button" class="btn-close-import common-btn" >
            <img src="assets/images/cancel-btn-icon.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-container" style="padding: 8px; border: 1px solid #d0cece;">
    <div class="col-12 col-xl-12 col-lg-12 " style=" margin-bottom: -20px;">
      <div class="col-xl-12 col-lg-12 ">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding:0px;">
            <div class="bg-white white-container-load-box " style="height: calc(100% - 30px); width:90% ; padding:6px">
              <div class="form-group custom-blue-input ">
                <label> MRP : </label>
                {{uploadedDate | date: "MM/dd/yyyy HH:mm"}}
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6"  style="padding:0px;">
            <div class="bg-white white-container-load-box" style="height: calc(100% - 30px); width:90% ; padding:6px">
              <div class="form-group custom-blue-input ">
                <label> Stock : </label>
                {{uploadedDate | date: "MM/dd/yyyy HH:mm"}}
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </div>

    <div class="col-12 col-xl-12 col-lg-12 " style=" margin-bottom: -20px;">
      <div class="col-xl-12 col-lg-12 ">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding:0px;">
            <div class="bg-white white-container-load-box" style="height: calc(100% - 30px); width:90% ; padding:6px">
              <div class="form-group custom-blue-input ">
                <label> MRP : </label>
                {{uploadedDate | date: "MM/dd/yyyy HH:mm"}}
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6"  style="padding:0px;">
            <div class="bg-white white-container-load-box " style="height: calc(100% - 30px); width:90% ; padding:6px">
              <div class="form-group custom-blue-input ">
                <label> Stock : </label>
                {{uploadedDate | date: "MM/dd/yyyy HH:mm"}}
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </div>
  </div>
</div>
