<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.91)" size="default" color="#fff" type="ball-fussion"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<app-notifier></app-notifier>

<div class="header-bottom-admin">
  <div class="row margin-left-0 margin-right-0 justify-content-between">
    <div class="col-xl-3 col-lg-3 padding-left-10">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <!-- <div class="col-xl-6 col-lg-5">
    <div class="form-group margin-bottom-0 search-main-header"></div>
  </div> -->
    <div class="col-xl-9 col-lg-9">
      <div class="row justify-content-end align-items-center">
        <button type="btn" style="border: 0; background-color: #ff5050">
        </button> &nbsp;
        <button type="button" class="btn-create-user hover-btn-icon btn-blue-header common-btn margin-right-15"
          (click)="getData()">
          <span>Checklist For Order Generation</span>
        </button>
        <!-- <div class="justify-content-end">
                  <button type="btn" style="border: 0; background-color: #ff5050;font-size: 20px;" (click)="getData()">
                      <i class="fas fa-info-circle icon-color" ng-reflect-ng-style="[object Object]" style="color: rgb(255, 255, 255); font-size: 18px;"></i>
                    </button> &nbsp;
              </div> -->
      </div>
    </div>
  </div>
</div>

<div id="last-updated-order-generation-data" class="order-list box-loaded-data box-modal-common" tabindex="-1"
  role="dialog" style="height:500px; overflow-y:auto ;" aria-labelledby="dialog-child-name">
  <div class="box-header">
    <div class="row">
      <div class="col-xl-10 col-lg-10">
        <div class="title-import text-left">
          Data Update Summary
        </div>
      </div>
      <div class="col-xl-2 col-lg-2">
        <div class="text-right">
          <button type="button" class="btn-close-import common-btn" (click)="closeModal()">
            <img src="assets/images/cancel-btn-icon.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr class="">
        <th class="text-align-left">File Type</th>
        <th class="text-align-left">Last Uploaded Date</th>
        <th class="text-align-left"><input style="margin-left: 18px;" type="checkbox" [checked]="AllChecked"
            (change)="checkAll($event.target.checked)"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of fileUploadedList ; index as j;let i = index;">
        <td>{{file.FileType}}</td>
        <td>{{file.Date | date: 'dd/MM/yyyy hh:mm'}}</td>
        <td><input type="checkbox" [checked]="isAllChecked" style="margin-left: 18px;"
            (change)="onChangeChecked(i, $event.target.checked)"></td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn-link-action btn-update-company-profile primary-btn common-btn"
    style="margin-left: 70%; margin-bottom: 2%;" *ngIf="checkedbox && clickCount === fileUploadedList.length"
    (click)="generateOrder()">
    <b>Generate Order</b></button>
</div>

<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
  <div class="row mt-3">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="form-group custom-blue-input  ">
        <div class="row">
          <div class="col-4 "><label class="inputfields mt-1" style="margin-left:40px;"> From Date: </label></div>
          <div class="col-8" style="padding: 0px;">
            <input style="background-color: #fff;" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              placeholder="Select Date" class="form-control colorCode" Year="ngModel" [(ngModel)]="fromDate"
              bsDatepicker (onShown)="onOpenYearCalendar($event)" placeholder="Select Date" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
      <div class="form-group custom-blue-input  ">
        <div class="row">
          <div class="col-xl-4 ml"><label style="margin-left:55px" class="inputfields mt-1"> To Date :</label>
          </div>
          <div class="col-lg-7" style="padding: 0px;">
            <input style="background-color: #fff; " [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
              placeholder="Select Date" class="form-control colorCode" Year="ngModel" [(ngModel)]="toDate" bsDatepicker
              (onShown)="onOpenYearCalendar($event)" placeholder="Select Date" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3 ">
      <div>
        <button type="submit" class="btn-link-action btn-update-company-profile primary-btn common-btn"
          style="margin-top: 2px;" (click)="apply()">
          <b>Search</b></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn-link-action btn-update-company-profile primary-btn common-btn bg-secondary"
          (click)="reset()">
          Reset</button>
      </div>
    </div>
  </div>
</div>

<!-- ag-grid for the orderList -->
<div style="margin-top:10px; margin-left: 5px;">
  <ag-grid-angular style="overflow: hidden; flex-grow: 1; height: calc(100vh - 170px); " id="orderList"
    class="ag-theme-balham  m-0  w-100" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [animateRows]="true"
    [headerHeight]="headerHeight" [enableRangeSelection]="true" (gridReady)="onGridReady($event)"
    [suppressContextMenu]="true" [rowData]="orderList" [floatingFilter]="true" (cellClicked)="onCellClicked($event)"
    [rowGroupPanelShow]="rowGroupPanelShow" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [suppressDragLeaveHidesColumns]="true" (gridSizeChanged)="onGridChange($event)" [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</div>