<ngx-spinner
  bdOpacity="0.9"
  bdColor="rgba(51,51,51,0.91)"
  size="default"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<app-notifier></app-notifier>
<div class="login-form full-height">
  <div class="inner-login-form">
    <div class="logo-main-login">
      <img src="assets/images/foresee-logo.png" class="image-100" />
    </div>
    <div class="forgot-password-instruction  m-0"><b>Change Password </b></div>
    <br />
    <div class="forgot-password-instruction">
      PLEASE ENTER YOUR NEW PASSWORD.
    </div>
    <div class="login-fields">
      <form
        novalidate
        autocomplete="off"
        (ngSubmit)="changePassword(changePasswordForm)"
        #changePasswordForm="ngForm"
      >
        <div class="form-group margin-bottom-25">
          <input
            [type]="showPassword ? 'text' : 'password'"
            class="form-control custom-login-input"
            placeholder="Enter new password"
            required
            name="Password"
            #Password="ngModel"
            [(ngModel)]="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
          <span
            *ngIf="password && !Password?.errors?.pattern"
            (click)="toggleShowPassword()"
            class="field-icon color-grey"
            [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fas fa-eye'"
            style="cursor: pointer; pointer-events: all;"
          >
          </span>
          <span
            [hidden]="!Password?.errors?.pattern"
            data-toggle="tooltip"
            data-placement="left"
            title="Your password must be at least 8 characters long, with at least 1 uppercase, 1 lowercase, 1 special character and 1 number."
            class="field-icon fa fa-info-circle color-red"
            [ngClass]="{show: Password?.errors?.pattern}"
            style="cursor: pointer; pointer-events: all;"
          >
          </span>
          <div
            class="invalid-feedback"
            [ngStyle]="{display: Password.invalid && (Password.dirty || Password.touched || changePasswordForm.submitted)? 'block' : 'none'}"
          >
            <div [hidden]="!Password?.errors?.required">Enter new password</div>
            <div [hidden]="!Password?.errors?.pattern">
              Enter valid Password
            </div>
          </div>
        </div>
        <div class="form-group margin-bottom-25">
          <input
            [type]="confirmShowPassword ? 'text' : 'password'"
            class="form-control custom-login-input text-left"
            placeholder="Re-enter new password"
            required
            name="ConfirmPassword"
            #ConfirmPassword="ngModel"
            [(ngModel)]="confirmPassword"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          />
          <span
            [hidden]="!ConfirmPassword?.errors?.pattern"
            data-toggle="tooltip"
            data-placement="left"
            title="Your password must be at least 8 characters long, with at least 1 uppercase, 1 lowercase, 1 special character and 1 number."
            class="field-icon fa fa-info-circle color-red"
            [ngClass]="{show: Password?.errors?.pattern}"
            style="cursor: pointer; pointer-events: all;"
          >
          </span>
          <span
            *ngIf="confirmPassword && !ConfirmPassword?.errors?.pattern"
            (click)="toggleConfirmPassword()"
            class="field-icon color-grey "
            [ngClass]="confirmShowPassword ? 'fa fa-eye-slash' : 'fas fa-eye'"
            style="cursor: pointer; pointer-events: all;"
          >
          </span>
          <div
            class="invalid-feedback text-left"
            [ngStyle]="{display: ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched || changePasswordForm.submitted)? 'block' : 'none'}"
          >
            <div [hidden]="!ConfirmPassword?.errors?.required">
              Enter New Password
            </div>
            <div [hidden]="!ConfirmPassword?.errors?.pattern">
              Enter valid Password
            </div>
          </div>
        </div>
        <div>
          <button type=" submit" class="btn-sign-in common-btn">
            Submit<img src="assets/images/sign-in-arrow.svg" />
          </button>
          <a [routerLink]="['/']" class="float-right mt-3  mr-3">Login</a>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <div class="label-footer">
        FOR MORE INFORMATION ABOUT THE PRODUCT, GO TO
      </div>
      <div><a href="#">www.4cteam.com</a></div>
    </div>
  </div>
</div>
