<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.91)" size="default" color="#fff" type="ball-fussion"
  [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
<app-notifier></app-notifier>
<div class="header-bottom-admin">
  <div class="row margin-left-0 margin-right-0 justify-content-between">
    <div class="col-xl-12 col-lg-12">
      <div class="row">
        <div class="col-xl-6 col-lg-6 ">
          <div class="left-float margin-right-10">
          </div>
          <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="wrapper scrollBar" style="background-color: #FAFAFC;">
  <div class="row stats-2-wrapper padding-bottom-100 mb-3">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
        data
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
        data
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
        data
      </div>
      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
        data
      </div>
    </div>
  </div>
</div> -->
<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
      <div class="container">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
              <div class="white-box">
                Shortages by Supplier/by Parts
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
              <div class="white-box">
                Inventory by Supplier
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
              <div class="white-box">
                Non Moving/Slow Moving Part Value by Supplier
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-xl-3 col-md-3 col-sm-3">
              <div class="white-box">
                Inwards Value Wk-O-Wk
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6">
      
    </div>
  </div>