<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.91)" size="default" color="#fff" type="ball-fussion"
    [fullScreen]="true">
    <p style="color: white">Loading...</p>
</ngx-spinner>
<app-notifier></app-notifier>
<div class="header-bottom-admin">
    <div class="row margin-left-0 margin-right-0 justify-content-between">
        <div class="col-xl-4 col-lg-4 padding-left-10">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="col-xl-8 col-lg-8">
            <div class="row justify-content-end align-items-center">
                <button type="btn" style="border: 0; margin-top: 7px; background-color: #ff5050" (click)="getData()">
                    <i class="fas fa-info-circle icon-color" ng-reflect-ng-style="[object Object]"
                        style="color: rgb(255, 255, 255); font-size: 18px;"></i>
                </button> &nbsp;
            </div>
        </div>
    </div>
</div>

<!-- <div class="program-filter">
    <div class="config-box-filter ">
        <div class="content-container">
            <div class="config-top-content">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <form (ngSubmit)="searchFilter(searchForm)" #searchForm="ngForm">
                        <div class="row">
                            <div class="col-lg-10 col-xl-10 col-md-10 col-sm-10">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group custom-blue-input ">
                                            <label>Buyer</label>
                                            <ng-select name="selectSupplierId" #selectSupplierId="ngModel"
                                                [(ngModel)]="selectedBuyer" class="customdropDown" [clearable]="true"
                                                [items]="buyerList" bindLabel="buyerName" bindValue="id"
                                                [searchable]="true" placeholder="Select Buyer" [appendTo]="'body'">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group custom-blue-input ">
                                            <label>Zone</label>
                                            <ng-select name="selectSupplierId" #selectSupplierId="ngModel"
                                                [(ngModel)]="selectedZone" class="customdropDown" [clearable]="true"
                                                [items]="zoneList" bindLabel="name" bindValue="id" [searchable]="true"
                                                placeholder="Select Zone" [multiple]="true" [appendTo]="'body'">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group custom-blue-input ">
                                            <label>Plant</label>
                                            <ng-select name="selectSupplierId" #selectSupplierId="ngModel"
                                                [(ngModel)]="selectedPlant" class="customdropDown" [clearable]="true"
                                                [items]="plantList" bindLabel="plantName" bindValue="id"
                                                [searchable]="true" placeholder="Select Plant" [multiple]="true"
                                                [appendTo]="'body'">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 ">
                                        <div>
                                            <button type="submit"
                                                class="btn-link-action btn-update-company-profile primary-btn common-btn "
                                                style="margin-top: 32px;"
                                                [disabled]="!selectedbuyer && !selectedZone && !selectedPlant ">
                                                Search</button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <button type="reset"
                                                class="btn-link-action btn-update-company-profile primary-btn common-btn "
                                                (click)="resetData(searchForm)">
                                                Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div style="height: 500px; overflow: auto;">
                        <div class="center" style="width: calc(100vh - 120px);">
                            <ag-grid-angular style="overflow: hidden;flex:1; margin-top: 10px !important; height: 480px;"
                                id="mrpGrid" class="ag-theme-balham  m-0  w-100" [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef" [animateRows]="true" [headerHeight]="headerHeight"
                                [rowSelection]="rowSelection" (gridReady)="onGridReady($event)" [suppressContextMenu]="true"
                                [rowData]="supplierList" [floatingFilter]="true" [rowGroupPanelShow]="rowGroupPanelShow"
                                [gridOptions]="gridOptions" (rowSelected)="onRowSelected($event)"
                                [suppressRowClickSelection]="suppressRowClickSelection">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--  Modal for last updated data-->
<div id="last-updated-buyers-permission-data" class="buyer-permisson box-loaded-data box-modal-common dataSummary" tabindex="-1"
    role="dialog" aria-labelledby="dialog-child-name">
    <div class="box-header">
        <div class="row">
            <div class="col-xl-10 col-lg-10">
                <div class="title-import text-left">
                    Data Update Summary
                </div>
            </div>
            <div class="col-xl-2 col-lg-2">
                <div class="text-right">
                    <button type="button" class="btn-close-import common-btn" (click)="closeModal()">
                        <img src="assets/images/cancel-btn-icon.svg" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr class="sticky-header">
              <th class="text-align-left">File Type</th>
              <th class="text-align-left">Last Uploaded Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of fileUploadedList ; let i = index;">
                <td>{{file.FileType}}</td>
                <td>{{file.Date | date: 'dd/MM/yyyy hh:mm'}}</td>
            </tr>
          </tbody>
    </table>
</div>

<!--
    (cellClicked)="onCellClicked($event)"
-->
<!-- <ag-grid-angular
    style="overflow: hidden;flex:1; height: calc(100vh - 163px); "
    id="myGrid"
    class="ag-theme-balham"
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [defaultColDef]="defaultColDef"
    [rowData]="buyerPermissionData"
    [treeData]="true"
    [animateRows]="true"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [getDataPath]="getDataPath"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular> -->


<div class="col-12 p-4 " style="height: calc(95vh - 85px); padding: 1.0rem !important">
    <div class="row align-items-center " style="height: calc(95vh - 100px);">
          <!-- buyer selection and supplier list data-->
        <div class="col-6 col-xl-6 col-lg-6 " style="height: calc(96vh - 95px); padding-right: 0px;">
            <div class="bg-white white-container-box p-3 " style="height: calc(97vh - 100px);">
                <div class="form-group custom-blue-input ">
                    <label>Buyer :</label>
                    <ng-select name="selectSupplierId" #selectSupplierId="ngModel" [(ngModel)]="selectedBuyer"
                        class="customdropDown" [clearable]="true" [items]="buyerList" bindLabel="FirstName"
                        bindValue="EmployeeCode" [searchable]="true" placeholder="Select Buyer"
                        (change)="changedBuyer()">
                    </ng-select>
                </div>
                <div>
                    <ag-grid-angular
                        style="overflow: hidden;flex:1; margin-top: 31px !important; height: calc(100vh - 290px);margin-left: 10px; "
                        id="columnSecond" class="ag-theme-balham  m-0  w-100" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [animateRows]="true" [headerHeight]="headerHeight"
                        [rowSelection]="rowSelection" (gridReady)="onGridReadysecond($event)"
                       [suppressContextMenu]="true" [rowData]="supplierList"
                        [floatingFilter]="true" [gridOptions]="columnSecondGridOptions"
                        [suppressRowClickSelection]="true" [suppressDragLeaveHidesColumns]="true"
                        (cellClicked)="onCellClicked($event)">
                    </ag-grid-angular>
                    <div class="row">
                        <div style="margin-left: 73%;">
                            <button type="submit"
                                class="btn-link-action btn-update-company-profile primary-btn common-btn "
                                style="margin-top: 20px;" (click)="apply()" [disabled]="!selectedBuyer && supplierList.length >= 0 ">
                                Apply</button>
                            &nbsp;&nbsp;
                            <button type="button"  class="btn-user-cancel secondary-btn common-btn"
                                (click)="resetData()">
                                <img src="assets/images/dim-cancel-icon.svg" alt=""  style="height: 10px;"/> &nbsp;
                                <span>Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6 col-lg-6 " style="padding-left:8px;">
            <div class="bg-white white-container-box p-3 " style="height: calc(95vh - 85px);">
                  <!-- Zone and plant selection and supplier list data-->
                <div class="form-group custom-blue-input ">
                    <div class="col-xl-12 col-lg-12 ">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5">
                                <div class="form-group custom-blue-input ">
                                    <label>Division : </label>
                                    <ng-select name="selectZoneId" #selectZoneId="ngModel" [(ngModel)]="selectedZone"
                                        class="customdropDown" [clearable]="true" [items]="zoneList" bindLabel="zone"
                                        bindValue="zone" [searchable]="true" placeholder="Select Division"
                                        (change)="changeZone()" multiple="true">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <label>Plant : </label>
                                <ng-select name="selectPlantId" #selectPlantId="ngModel" [(ngModel)]="selectedPlant"
                                    class="customdropDown" [clearable]="true" [items]="plantList" bindLabel="plantCode"
                                    bindValue="plantCode" [searchable]="true" placeholder="Select Plant"
                                    multiple="true">
                                </ng-select>
                            </div>
                            <!--
                                (change)="changedPlant()"
                            -->
                            <div class="col-xl-2 col-lg-2">
                                <button type="submit" *ngIf="selectedPlant !== null && selectedZone !== null "
                                    class="btn-link-action btn-update-company-profile primary-btn common-btn "
                                    style="margin-top: 27px;" (click)="changedPlant()"
                                    >
                                    search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <ag-grid-angular
                        style="overflow: hidden;flex:1; margin-top: 13px !important; height: calc(100vh - 290px); "
                        id="columnFirst" class="ag-theme-balham  m-0  w-100" [columnDefs]="zonePlantcolumnDefs"
                        [defaultColDef]="defaultColDef" [animateRows]="true" [headerHeight]="headerHeight"
                        [rowSelection]="rowSelection" (gridReady)="onGridReady($event)" [suppressContextMenu]="true"
                        [rowData]="selectedSupplierList" [floatingFilter]="true" [gridOptions]="columnFirstGridOptions"
                        [suppressRowClickSelection]="true" [suppressDragLeaveHidesColumns]="true">
                    </ag-grid-angular>
                    <div class="row">
                        <div style="margin-left: 90%;">
                            <button type="submit"
                                class="btn-link-action btn-update-company-profile primary-btn common-btn "
                                style="margin-top: 20px;" (click)="addSupplier()">
                                Add</button>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal for Delete supplier-->
<div id="delete-supplier" class="item-supplier-SOB box-loaded-data box-modal-common" tabindex="-1" role="dialog"
  aria-labelledby="dialog-child-name">
  <div class="box-header">
    <div class="row">
      <div class="col-xl-10 col-lg-10">
        <div class="title-import text-left">
          Delete Supplier
        </div>
      </div>
      <div class="col-xl-2 col-lg-2">
        <div class="text-right">
          <button type="button" class="btn-close-import common-btn" (click)="closeDeleteSpplier()">
            <img src="assets/images/cancel-btn-icon.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="add-document">
      <div class="row">
        <div class="col-lg-12 content-center-alert text-center">
          <!-- <label class="labelCode">Select Scenario</label> -->
          Are you sure want to delete the Supplier?
          <br>
          <button type="button" class="btn-pwd-confirm primary-btn common-btn mt-3" style="margin-right: 10px;"
            (click)="onDeleteClicked()">
            <img src="assets/images/save-btn-icon.svg" class="margin-right-6 " />
            Delete Supplier
          </button>
          <button type="button" class="btn-pwd-cancel secondary-btn common-btn" (click)="closeDeleteSpplier()">
            <img src="assets/images/cancel-btn-icon.svg" class="margin-right-5" />
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
